[Unit]
Description=Unencrypt through PKCS11
DefaultDependencies=no
Before=systemd-cryptsetup@*.service 
PartOf=clevis-luks-pkcs11-askpass.socket

[Service]
Type=notify
ExecStart=/usr/libexec/clevis-luks-pkcs11-askpass
